:root {
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray: hsl(0, 0%, 42%);
    --Black: hsl(0, 0%, 7%);
}

body{
    background-color: var(--Yellow);
    color: var(--Gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.blog {
    background-color: var(--White);
    max-width: 335px;
    padding: 20px;
    border-radius: 20px;
}

.blog img {
    border-radius: 10px;
    height: auto;
}

.blog-category, .blog-title, .blog-publish-time {
    color: var(--Black);
}

.blog-category {
    padding: 8px 10px;
    display: inline-block;
    background: var(--Yellow);
    border-radius: 5px;
}

.blog-publish-time {
    font-weight: 600;
}

.blog-title{
    font-weight: 800;
}

.blog-profile{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.blog-profile img{
    width: 3rem;
}

.auther-name{
    font-weight: 600;
    color: var(--Black);
}